/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.main-container {
  padding: 25px;
}

.main-subContainer{
  display: flex;
  flex-direction: row;
  /* width: 70%;
  margin: 0 auto; */
}

.main-subContainer-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  height: 8vmin;
  padding-top: 30;
}

.header{
  font-size: 20px;
  color: #393939;
  font-weight: 600;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.subHeader{
  font-size: 10px;
  color: #808080;
  font-weight: 400;
  padding-top: 0px;
  margin-top: 0px;
}

.input-field{
  width: 200px;
  padding: 10px;
}

.input-dropdown{
  border: 1px solid #dddddd;
  width: 100px;
  padding: 10px;
  margin-left: 30px;
}
.top-level{
  max-width: 1024px;
  justify-content: center;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
