.top {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
}

.main-container {
  padding: 25px;
}

.main-subContainer{
  display: flex;
  flex-direction: row;
}

.main-subContainer-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  height: 8vmin;
  /* padding-top: 30px; */
}

.header{
  font-size: 20px;
  color: #393939;
  font-weight: 600;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.subHeader{
  font-size: 10px;
  color: #808080;
  font-weight: 400;
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
}

.input-dropdown{
  border: 1px solid #dddddd;
  width: 200px;
  padding: 10px;
  margin-left: 30px;
}

.top-level{
  max-width: 1024px;
  justify-content: center;
}

@media (max-width: 767px) {
  .input-dropdown{
    margin-left: 4px !important;
  }
  .logo {
    padding-top: 15px;
  }
}
@media (max-width: 400px) {
  .input-dropdown{
    margin-left: 2px !important;
  }
  .logo {
    padding-top: 50px;
  }
}